h1 {
  text-align: center;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(55, 209, 255) 0%,
    rgb(14, 31, 111) 100.2%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-left: -29px;
  padding-top: 35px;
  padding-bottom: 23px;
  font-size: 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1500px;
  line-height: 28px;
  text-align: left;
  margin-bottom: 7px;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 3px;
  margin-left: -70px;
}
li {
  list-style: none;
  margin: 0;

  padding: 0;
  color: rgb(135, 135, 135);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.toppic {
  margin: 0;
  padding: 0;
}
.weatherappWrapper {
  max-width: 1150px;
  margin: 20px auto;
  border: 6px #1e56a0;
}
.weatherapp {
  padding-top: 15px;
  margin-top: 60px;
  border-radius: 30px;
}

.overview {
  margin-bottom: 5px;
  margin-left: 60px;
}
.temp {
  margin-top: 35px;
  position: relative;
  top: -34px;
  color: black;
  font-size: 45px;
  font-weight: 600;
  margin-left: -300px;
  border: #0dabee;
  border-radius: 60;
}

#image {
  margin-right: 100px;
}
.link {
  display: block;
  margin: 0 auto;
  margin-left: 20px;
  margin-top: -5px;
}
.pic {
  margin: -22px;
  width: 190px;
  height: 190px;
  margin-left: 33px;
}
.units {
  position: relative;
  top: -40px;
  font-size: 20px;
  color: black;
}
#searchform {
  padding-bottom: 15px;
}
.space {
  padding-top: 15px;
}

#country {
  line-height: 100%;
  font-family: cursive;
  font-size: 32px;
  padding-bottom: 20px;
  font-weight: bolder;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(55, 209, 255) 0%,
    rgb(14, 31, 111) 100.2%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#humidity {
  font-family: cursive;
  font-size: 22px;
  color: black;
  padding: 3px;
  padding-bottom: 15px;
}
#wind {
  font-family: cursive;
  font-size: 22px;
  color: black;
  padding: 3px;
  padding-bottom: 15px;
}
#hu {
  font-family: cursive;
  font-size: 22px;
  color: black;
  padding: 3px;
}
#justTemp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  margin-left: 202px;
}
.left {
  position: relative;
  margin-left: 295px;
  padding-bottom: 50px;
  margin-top: -29px;
}
.image {
  margin-top: 209px;
  margin-left: 35px;
}

#textTop {
  margin-left: -39px;
  margin-top: -7px;
}
#high {
  color: #0dabee;
  display: inline;
  margin-left: 19px;
}
#low {
  color: #0dabee;
  display: inline;
  margin-left: 10px;
}
.weatherforecast {
  display: block;
  margin: 0 auto;
  color: #0dabee;
  margin-bottom: 35px;
  text-align: center;

  padding-right: -2px;
}

.weatherforecast-temperatures {
  font-size: 16px;
}
.min {
  opacity: 60%;
}
.row {
  margin: 4px;
  max-width: 1100px;
  text-align: center;
}
.condition {
  display: block;
  margin: 0 auto;
  color: black;
  font-size: 15px;
  font-family: cursive;
  text-transform: capitalize;
  width: max-content;
}

.updown {
  margin-left: 5px;
  display: block;
  margin: 0 auto;
}
.col-2 {
  max-width: max-content;
}
.dayoftheweek {
  text-align: center;
  text-decoration: none;
  font-weight: 1200px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(55, 209, 255) 0%,
    rgb(14, 31, 111) 100.2%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

body {
  color: blueviolet;
}

.container {
  background: #f2f4f7;
  opacity: 96%;
  border-radius: 30px;
  width: fit-content;
  box-shadow: 10px 5px 5px #74878f;
  margin-top: -25px;
  padding-left: 0px;
  padding-right: 0px;
}
.body {
  background-color: #f7f7f7;
}

.mainicon {
  position: relative;
  margin-left: -1660px;
  margin-top: -888px;
}
.weatherappWrapper {
  background-color: #e7eaf6;
  border-radius: 30px;
}
.forecastJustTemp {
  position: relative;
  font-size: 20px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-top: -30px;
  padding-top: 25px;
}

.forecastIcon {
  padding-bottom: 35px;
}
